#player-health {
    width: 200px;
    height: 20px;
    background-color: green;
}

#monster-health {
    width: 60px;
    height: 20px;
    background-color: red;
}

.health-bar {
    display: flex;
    justify-content: flex-end;
    transition: width 1s;
    color: white;
}

img {
    padding: 30px;
    height: 200px;
    width: 200px;
}

#app {
    font-family: 'Share Tech Mono', monospace;
}

#player-enemy {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#boss {
    height: 1px;
    width: 1px;
}

#info {
    text-align: center;
    font-size: 50px;
}

#fight {
    font-size: 25px;
    font-family: 'Share Tech Mono', monospace;
}
